{% assign sid = section.id | prepend: '#test-' %}

<style>
    {{ sid }} * {
        box-sizing: border-box;
    }

    {{ sid }} {
        background: #0E1326;
    }

    {{ sid }} .section_holder {
        margin: 0 auto;
        padding-top: 63px;
        padding-bottom: 63px;
        width: 100%;
        max-width: 740px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: #FFF;
    }
    
    {{ sid }} .hosted-by {
        margin: 0px;
        font-size: 14px;
    }

    {{ sid }} .user-avatar {
        margin-top: 20px;
        width: 100px;
        height: 100px;
    }

    {{ sid }} .user-name {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 600;
    }

    {{ sid }} .user-description {
        max-width: 470px;
        font-size: 12px;
        letter-spacing: 0.3px;
        text-align: center;
        margin: 0;
    }

    {{ sid }} .nxt-logo {
        margin-top: 35px;
        margin-bottom: 0px;
        font-size: 23px;
        font-weight: 600;
    }

    {{ sid }} .nxt-logo span {
        color: #F54A14;
    }

    {{ sid }} .copy-right {
        margin-top: 15px;
        font-size: 10px;
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    {{ sid }} p.copy-right a {
        display: block;
        color: #FFF;
        text-decoration: none;
        margin-left: 5px;
    }

    @media screen and (max-width: 750px) {
        {{ sid }} .section_holder {
            flex-direction: column;
            padding: 20px;
        }

    }
</style>

<div id="test-{{ section.id }}">
    <div class="section_holder">
        <p class="hosted-by">{{ section.settings.heading }}</p>
        <img class="user-avatar" src="{{ section.settings.avatar | image_url: width: 300 }}" alt="user" />
        <p class="user-name">{{ section.settings.name }}</p>

        <p class="user-description">{{ section.settings.description }}</p>

        <p class="nxt-logo">{{ section.settings.logo }}</p>

        <p class="copy-right">
            <span>© NextLaunch</span>
            <a href="{{ section.settings.privacy_link }}" class="privacy_link">{{ section.settings.privacy_label }}</a>
            <a href="{{ section.settings.terms_link }}" class="terms_link">{{ section.settings.terms_label }}</a>
        </p>
    </div>
</div>

{% schema %}
{
    "name": "Hosted By Section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "HOSTED BY..."
        },
        {
            "type": "text",
            "id": "name",
            "label": "Name"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "textarea",
            "id": "logo",
            "label": "Logo",
            "default": "N <span>X</span> T"
        },
        {
            "type": "image_picker",
            "id": "avatar",
            "label": "Avatar"
        },
        {
            "type": "url",
            "id": "privacy_link",
            "label": "Privacy Link"
        },
        {
            "type": "text",
            "id": "privacy_label",
            "label": "Privacy Label",
            "default": "- Privacy Policy"
        },
        {
            "type": "url",
            "id": "terms_link",
            "label": "Terms Link"
        },
        {
            "type": "text",
            "id": "terms_label",
            "label": "Terms Label",
            "default": "- Terms of Service"
        }
    ],
    "presets": [
        {
            "name": "Hosted By Section"
        }
    ]
}
{% endschema %}
